header.header
  .container
    .row.align-items-center
        .col-3
            .inner-logo
                a(href="/")
                img(src="/images/logo.jpg", alt="Logo")

        .col-9
            .inner-menu
                ul
                    li
                        a(href="/") Trang chủ
                    li(class="sub-menu")
                        a(href="/products") Sản phẩm
                        ul
                            li
                                a(href="/products/slug-1") Mục 1
                                ul
                                    li
                                        a(href="/products/slug-1-1") Mục 1 - 1
                                    li
                                        a(href="/products/slug-1-2") Mục 1 - 2
                                        ul
                                            li
                                                a(href="/products/slug-1-2-1") Mục 1 - 2 - 1
                                            li
                                                a(href="/products/slug-1-2-2") Mục 1 - 2 - 2
                            li
                                a(href="/products/slug-2") Mục 2