extends ../../layouts/default.pug

block main
  h1(class="mb-4") Nhóm quyền

  .card.mb-3
    .card-header Danh sách
    .card-body
      .row
        .col-8
        .col-4.text-right
          a(
            href=`/admin/roles/create`
            class="btn btn-outline-success"
          ) + Thêm mới
