extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success(5000)

    h1(class="mb-4") Danh mục sản phẩm

    .card-mb-3
        .card-header Danh sách
        .card-body
            .row
                .col-8
                .col-4.text-right
                    a(
                        href=`/admin/products-category/create`
                        class=`btn btn-outline-success`
                    ) + Thêm mới