mixin sub-menu(items)
    ul
        each item in items
            li
                a(href=`/products/${item.slug}`) #{item.title}
                if(item.children)
                    +sub-menu(item.children)
