.sider
  .inner-menu
    ul 
      li
        a(href=`/admin/dashboard`) Tổng quan
      li
        a(href=`/admin/products-category`) Danh mục sản phẩm
      li
        a(href=`/admin/products`) Danh sách sản phẩm
      li
        a(href=`/admin/roles`) Nhóm quyền
      li
        a(href=`/admin/roles/permissions`) Phân quyền