.sider
  .inner-menu
    ul 
      li
        a(href=`/admin/dashboard`) Tổng quan
      if(role.permissions.includes("products-category_view"))
        li
          a(href=`/admin/products-category`) Danh mục sản phẩm
      if(role.permissions.includes("products_view"))
        li
          a(href=`/admin/products`) Danh sách sản phẩm
      if(role.permissions.includes("roles_view"))
        li
          a(href=`/admin/roles`) Nhóm quyền
      if(role.permissions.includes("roles_permissions"))
        li
          a(href=`/admin/roles/permissions`) Phân quyền
      if(role.permissions.includes("accounts_view"))
        li
          a(href=`/admin/accounts`) Danh sách tài khoản